# editorconfig.org
root = true

[{*,!node_modules/*,!vendor/*}]
end_of_line = lf
indent_style = space
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

[{app,config,database,resources,tests}/**.php]
indent_size = 4

[{resources,storage,tests}/**.{scss,js,css,yml,xml}]
indent_size = 4

[*.md]
trim_trailing_whitespace = false
insert_final_newline = false
