# Generic
# --------------------------
Thumbs.db
Desktop.ini
Icon?
.directory
*.cache
*.old
*~

# IDE Project Configurations
# --------------------------
nbproject/
.idea/
.settings/
.project
*.sublime-*

# Developments
# --------------------------
/public/storage
/tests/clover.xml
Homestead.json
Homestead.yaml
node_modules
vendor
.env

# But Keep these
# --------------------------
!.htaccess
!.gitkeep
