@import 'variables';

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-family: 'Lato';
}

.fa-btn { margin-right: 6px; }

.section {
    margin-top: 30px;
}

footer.section p {
    border-top: 1px solid $gray-lighter;
    padding-top: 10px;
}
